:root {
  --accent-color: #2196f3;
  --normal-color: #ffffff;
  --primary-color: #212121;
  --minor-color: #757575;
  --secondary-color: #f5f4fa;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

/* ------------HEADER------------ */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-link {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}

/* ------------HERO------------ */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--normal-color);
}

.order-button {
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--normal-color);
  background: var(--accent-color);
}

.order-button:hover,
.order-button:focus {
  color: var(--normal-color);
  background-color: #188ce8;
}

/* ------------ABOUT------------ */

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/* ------------SERVICE------------ */

.service-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

/* ------------TEAME/------------ */

.teame-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.teame-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.teame-item {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1632px;
  background: var(--normal-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teame-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.teame-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/* -------------PORTFOLIO-------------- */
.ordinary-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.ordinary-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.ordinary-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--secondary-color);
}

.ordinary-button:hover,
.ordinary-button:focus {
  color: var(--normal-color);
  background-color: var(--accent-color);
}

.ordinary-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.ordinary-positio {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}


/* ------------FOOTER------------ */

.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}

.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}

address,
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.location:hover,
.location:focus,
.footer-tel:hover,
.footer-mail:hover,
.footer-tel:focus,
.footer-mail:focus {
  color: var(--accent-color);
}